@font-face {
    font-family: "macho";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/macho/macho.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/macho/macho.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/macho/macho.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/macho/macho.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/macho/macho.ttf") format("truetype");
    font-display: swap;
}
.macho {
    font-family: "macho";
}
